{
  "printWidth": 100000000,
  "tabWidth": 4,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "arrowParens": "avoid"
}